#imgplataformas img {
    width: 220px;
    height: 100%;
    margin: 20px;
}


nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0 0 20px;
}
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: transparent; /* Cambiado a transparente */
    backdrop-filter: blur(55px); /* Efecto de desenfoque */
    transition: background-color 0.3s ease-in-out;
    z-index: 1050;
    text-align: center;
}

.nav-item-dropdown, .nav-item {
    font-weight: bold;
}

.nav-link i {
    margin-left: 10px;
}

nav a:hover i {
    transform: rotate(180deg);
    transition: 0.5s ease-in-out;
}
.dropdown-menu .nav-link:hover{
    transform: rotate(0deg);
    transition: 0.5s ease-in-out;
}

nav  .nav-link {
    border-radius: 10px;
}
.navbar-nav .nav-item.show .dropdown-menu {
    display: block !important;
    opacity: 5 !important;
}
nav  ul li .nav-link:hover {
    background-color: rgb(227, 228, 228);
    transition: 0.5s;
}
.d-flex a:hover{
    background-color: rgb(241, 245, 249) !important;
    transition: 0.5s;
}
.d-flex a:hover i{
    transform: rotate(0deg);
    transition: 0.5s ease-in-out;

}
nav i{
    width: 20px !important;
    height: 20px !important;
}



.dropdown-menu {
    display: none; /* Ocultar por defecto */
    width: 1300px; /* Ajustar el ancho automáticamente */
    background-color: none !important;
    border-radius: 20px !important;

    
    margin-top: 20px !important;
    padding: 20px !important;
margin-left: -100px !important;
    
 
}




.productos li {
    display: flex;
    align-items: center;
}

.productos:hover, .productos2:hover, .productos3:hover, .productos4:hover {
    background-color: rgb(241, 245, 249);
    transition: 0.3s;
}

.productos, .productos2, .productos3, .productos4 {
    height: 100%;
    width: 100% !important;
    gap: 20px;
    padding: 50px 30px 20px 30px;
    border-radius: 10px;
}
.productos .navlink:hover, .productos2 .navlink:hover, .productos3 .navlink:hover, .productos4 .navlink:hover{
    background-color: rgb(241, 245, 249) !important;
    
}

.productos,.productos2,.productos3 {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.productos i, .productos2 i, .productos3 i, .productos4 i {
    margin-right: 10px;
}

.productos a:hover span,
.productos2 a:hover span,
.productos3 a:hover span,
.productos4 a:hover span {
    color: rgb(0, 208, 255);
    transition: 0.3s;
}
/* nav soluciones */
#soluciones .dropdown-menu{
    margin-left: -250px !important;
    

}
#soluciones .dropdown-menu .d-flex{
    margin-left: 0 !important;
    
    width: 100%;
    gap: 100px;
}
#soluciones a:hover i{
    transform: rotate(0deg);
    transition: 0.5s ease-in-out;

}

#soluciones a:hover i {
    transform: rotate(180deg);
    transition: 0.5s ease-in-out;
}
#soluciones .d-flex a:hover i{
    transform: rotate(0deg);
    transition: 0.5s ease-in-out;

}
#soluciones a:hover{
    background-color: rgb(241, 245, 249)!important;
}

.soluciones a:hover span,
 .soluciones2 a:hover span,
 .soluciones3 a:hover span{
    color: rgb(0, 208, 255);
    transition: 0.3s;
 }
 .soluciones:hover,
 .soluciones2:hover,
 .soluciones3:hover {
    background-color: rgb(241, 245, 249);
    transition: 0.3s;
}
.soluciones,
 .soluciones2,
 .soluciones3 {
    height: 100%;
    width: 100%;     
    padding: 50px;
    border-radius: 20px;
}
.soluciones i,
 .soluciones2 i,
 .soluciones3 i {
    margin-right: 10px;
}
.soluciones3 h4{
    margin-top: 20px;
}
/*nav conocer */
#conocer .dropdown-menu{
    margin-left: -350px !important;
    

}
.conocer3 {
    position: relative;
}

.conocer3 .btn-icon {
    position: absolute;
    width: 65px;
    height: 45px;
    top: 50%;
    
    left: 15%;
    background-color: rgb(0, 208, 255);
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 25%;
    padding: 10px;
    
}

.conocer3 {
    height: 100%;
    width: 100%;     
    padding: 50px;
    border-radius: 20px;
}
.conocer3:hover{
    background-color: rgb(241, 245, 249);
    transition: 0.3s;
}
#derechanav{
    align-items: center;
}

/*banner*/
.btnplanes {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.btnplanes .over2 {
    margin-right: 10px;
}
@keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(50px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  #Banner {
    opacity: 0;
    animation: fadeInUp 1s ease-out forwards;
    animation-delay: 0.5s; /* Retraso de medio segundo */
  }
  
  .titulo {
    opacity: 0;
    animation: fadeInUp 1s ease-out forwards;
    animation-delay: 0.8s; /* Retraso de 0.8 segundos */
  }
  
  .textobanner {
    opacity: 0;
    animation: fadeInUp 1s ease-out forwards;
    animation-delay: 1.2s; /* Retraso de 1.2 segundos */
  }
  
  .btnplanes {
    opacity: 0;
    animation: fadeInUp 1s ease-out forwards;
    animation-delay: 1.5s; /* Retraso de 1.5 segundos */
  }
  
  .bannerimagen {
    opacity: 0;
    animation: fadeInUp 1.5s ease-out forwards;
    animation-delay: 1.8s; /* Retraso de 1.8 segundos */
  }
  
#Banner .btnplanes .over2,
#Banner .btnplanes .over3 {
    z-index: 1000; 
}
#Banner {
    padding-top: 100px;
}
.titulo p {
    width: 100%;
    display: block;
    text-align: center; /* Opcional, si deseas centrar el texto */
    font-size: 5rem;
    color: #333;
    font-weight: bold;
}

.textobanner p{
    
    display: flex;
    font-size: 1.2rem;
    text-align: center;
    padding: 20px;
    padding-left: 90px;
    font-weight: 500;

 }
/*button unirse nav */
.conflecha {
    background-color: rgb(12, 210, 255);
    width: 48px;
    height: 28px;
    overflow: hidden;
    margin-left: 10px;
    padding: 5px;
    display: flex;
    border-radius: 5px;
    transition: 0.5s;
}


.conflecha span {
    position: relative;
    width: 56px;
    height: 28px;
    padding: 0 1px;
    font-size: 18px;
    margin: 0 10px 0 0;
    transform: translateX(-100%);
    transition: transform 0.5s;
}

.unirse {
    position: absolute;
    display: flex;
    margin: 4px;
    align-items: center;
    z-index: 3;
}

.over {
    position: relative;
    width: 156px;
    height: 56px;
    padding: 10px;
    background-color: rgb(223, 228, 234);
    border-radius: 10px;
    overflow: hidden;
    z-index: 2 !important;
}

.azul {
    position: absolute;
    width: 157px;
    height: 100px;
    background-color: rgb(0, 208, 255);
    margin: -11px;
    border-radius: 10px;
    transform: translateX(200px);
    transition: transform 1s;
}

.over:hover .azul {
    transform: translateX(0);
    transition: transform 0.5s;
}

.over:hover .conflecha span {
    transform: translateX(0);
    margin: 0 3px;
    transition: 0.5s;
    margin: 0 30px 0 10px;
}

.over:hover .conflecha {
    background-color: rgb(4, 164, 212);
    transition: 1s;
}

/*button verplanes */
.over2, .over3 {
    position: relative;
    width: 199px;
    height: 56px;
    padding: 11px;
    background-color: rgb(0, 208, 255);
    border-radius: 10px;
    overflow: hidden;
}

.over3 {
    background-color: rgb(223, 228, 234);
}

.azuloscuro {
    position: absolute;
    width: 200px;
    height: 100px;
    background-color: rgb(4, 164, 212);
    margin: -11px;
    border-radius: 10px;
    transform: translateX(200px);
    transition: transform 1s;
}

.blanco {
    position: absolute;
    width: 257px;
    height: 100px;
    background-color: rgb(0, 208, 255);
    margin: -11px;
    border-radius: 10px;
    transform: translateX(200px);
    transition: transform 1s;
}

.conflecha2 {
    background-color: rgb(4, 164, 212);
    width: 48px;
    height: 28px;
    overflow: hidden;
    margin-left: 10px;
    padding: 5px;
    display: flex;
    border-radius: 5px;
}

.conflecha3 {
    background-color: rgb(255, 255, 255);
    width: 48px;
    height: 28px;
    overflow: hidden;
    margin-left: 10px;
    padding: 5px;
    display: flex;
    border-radius: 5px;
}

.conflecha3 span {
    position: relative;
    width: 56px;
    height: 28px;
    padding: 0 1px;
    font-size: 18px;
    margin: 0 10px 0 0;
    transform: translateX(-100%);
    transition: transform 0.5s;
}

.conflecha2 span {
    position: relative;
    width: 56px;
    height: 28px;
    padding: 0 1px;
    font-size: 18px;
    margin: 0 10px 0 0;
    transform: translateX(-100%);
    transition: transform 0.5s;
}

.over2:hover .azuloscuro {
    transform: translateX(0);
    transition: transform 0.5s;
}

.over2:hover .conflecha2 {
    background-color: rgb(0, 208, 255);
    transition: 1s;
}

.over2:hover .conflecha2 span {
    transform: translateX(0);
    margin: 0 3px;
    margin: 0 30px 0 10px;
    transition: 0.5s;
}

.over3:hover .blanco {
    transform: translateX(0);
    transition: transform 0.5s;
}

.over3:hover .conflecha3 {
    background-color: rgb(4, 164, 212) !important;
    transition: 1s;
}

.over3:hover .conflecha3 span {
    transform: translateX(0);
    margin: 0 3px;
    margin: 0 30px 0 10px;
    transition: 0.5s;
}

.bannerimagen {
    position: relative;
    margin-top: 20px;
}

.bannerimagen img, .bannerimagen video {
    
    width: 100%;
    height: auto;
    
}

.bannerimagen img {
    object-fit: cover;
}

.bannerimagen video {
    position: absolute;
    width: 45%;
    height: 45%;
    object-fit: cover;
    z-index: 2;
    top: 15%;
    right: 27%;
}
.textobanner {
    font-size: 19px;
    margin-top: 10px;
    display: block;
    text-align: start;
    margin-left: 120px;
    word-spacing: 1px;
    margin-top: -20px;
    margin-bottom: -15px;
}
/*seccion demostracion */
#demostracion {
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 367px;
    opacity: 0;
    animation: fadeInUp 1.5s ease-out forwards;
    animation-delay: 2.0s;
}

.tituloseccion p {
    font-size: 45px;
    font-weight: 600;
    margin-top: 10px;
    display: block;
    text-align: center;
}

.textodemostracion p{
    font-size: 19px;
   font-weight: 470;
    display: block;
    text-align: start;
    margin-left: 120px ;
    
    
}

.over4 {
    margin-left: 170px;
    color: black;
    position: relative;
    width: 290px;
    height: 56px;
    padding: 10px;
    background-color: rgb(0, 208, 255);
    border-radius: 10px;
    overflow: hidden;
}

.azuloscuro2 {
    position: absolute;
    width: 290px;
    height: 100px;
    background-color: rgb(0, 170, 207);
    margin: -11px;
    border-radius: 10px;
    transform: translateX(400px);
    transition: transform 1s;
}

.conflecha4 {
    background-color: rgb(0, 170, 207);
    width: 48px;
    height: 28px;
    overflow: hidden;
    margin-left: 10px;
    padding: 5px;
    display: flex;
    border-radius: 5px;
}

.conflecha4 span {
    position: relative;
    width: 56px;
    height: 28px;
    padding: 0 1px;
    font-size: 18px;
    margin: 0 10px 0 0;
    transform: translateX(-100%);
    transition: transform 0.5s;
}

.over4:hover .azuloscuro2 {
    transform: translateX(0);
    transition: transform 0.5s;
}

.over4:hover .conflecha4 {
    background-color: rgb(0, 208, 255);
    transition: 1s;
}

.over4:hover .conflecha4 span {
    transform: translateX(0);
    margin: 0 3px;
    margin: 0 30px 0 10px;
    transition: 0.5s;
}

/*plataformas */
#plataformas{
    height: 310px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#carrousel img {
    width: 220px;
    height: 80px;
    margin: 20px;
}

#textoplataformas {
    width: 100%;
    max-width: 700px; /* Ajusta este valor según sea necesario */
    font-size: 33px;
    font-weight: bold !important;
    text-align: center !important;
    margin: 10px auto; /* Centra el elemento horizontalmente */
    
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeInUp 1.5s ease-out forwards;
    animation-delay: 3.0s;
    
}


.carrousel-container {
    overflow: hidden;
    width: 100%;
    max-width: 956px;
    position: relative;
    padding: 10px;
    margin: 10px auto;
}

.carrousel-container::before,
.carrousel-container::after {
    content: '';
    position: absolute;
    top: 0;
    width: 100px;
    height: 100%;
    z-index: 1;
}

.carrousel-container::before {
    left: 0;
    background: linear-gradient(to right, #f1f5f9, transparent);
}

.carrousel-container::after {
    right: 0;
    background: linear-gradient(to left, #f1f5f9, transparent);
}

#carrousel {
    display: flex;
    gap: 5px;
    width: max-content;
    animation: marquee-container 25s linear infinite;
}

@keyframes marquee-container {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);
    }
}

.slider-image {
    height: 80px;
    object-fit: contain;
    padding-right: 105px;
    margin-bottom: 50px;
}
/*impulsado*/

#impulsado {
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    
}
.articuloFlecha img{
    
    height: 323px !important;
   
}
.primerArticulo img {
    height: 583px !important;
    border-radius: 10px 0 0 10px !important;
}

.primerArticulo {
    background-color: rgb(245, 248, 250);
    
}
.articuloFlecha {
    background-color: rgb(223, 228, 234);
    margin-top: 10px !important;
    border-radius: 0 0 10px 10px;
}
.articuloFlecha .d-flex {
    padding-right: 40px;
    padding-left: 40px;
}

#impulsado .conflecha {
    background-color: rgb(12, 210, 255);
    width: 80px;
    height: 44px;
    overflow: hidden;
    
    padding: 15px;
    display: flex;
    border-radius: 5px;
    transition: 0.5s;
}


#impulsado .conflecha span {
    
    width: 56px;
    height: 28px;
   
    font-size: 18px;
    
    transform: translateX(-100%);
    transition: transform 0.5s;
}
#impulsado .articuloFlecha:hover .conflecha span {
    transform: translateX(0);
    margin-left: 15px;
    transition: 0.5s;
    
}
#impulsado .articuloFlecha span:nth-child(2),
 #impulsado .primerArticulo span:nth-child(2)
 {
    margin-left: -30px;
}

#impulsado .articuloFlecha span:nth-child(1),
#impulsado .primerArticulo span:nth-child(1)
{
    padding-right: 35px;
}

#impulsado .articuloFlecha:hover .conflecha {
    background-color: rgb(4, 164, 212);
    transition: 1s;
}
.articuloFlecha:nth-child(1){
   height: 667px !important;

}
.articuloFlecha p {
    font-weight: 400;
    font-size: 20px;
}
.primerArticulo .d-flex{
    justify-content: center !important;
    height: 100%;
    width: 100%;
    
}
.primerArticulo p{
    font-weight: 400;
    font-size: 20px;
   
}
.primerArticulo{
    border-radius: 30px 10px 10px 30px;
    padding-left: -30px !important;
}
#impulsado .primerArticulo:hover .conflecha span {
    transform: translateX(0);
    margin-left: 15px;
    transition: 0.5s;
    
}

#impulsado .primerArticulo:hover .conflecha {
    background-color: rgb(4, 164, 212);
    transition: 1s;
 }
/*caso de uso */
.titulocaso {
    font-size: 40px;
    margin-top: 10px;
    display: block;
    text-align: center;
    font-weight: bold;
    word-spacing: 1px;
}

.row img {
    height: 486px;
    box-shadow: black 15px;
}

#card1:hover img {
    display: block;
    transform: scalex(2);
    transition: transform 0.5s;
    transform-origin: left;
}

#card1:hover .minidescipcion:nth-child(1) {
    width: 200%;
    background-color: red;
}

#card2:hover {
    transform: scalex(2);
    transition: transform 0.5s;
}

#card3:hover {
    transform: scalex(2);
    transition: transform 0.5s;
    transform-origin: right;
}

#card1:hover .minidescripcion {
    flex-wrap: wrap;
    width: 200%;
    transition: 1.5s;
}

#card1:hover .titulo {
    width: 200%;
    flex-wrap: wrap;
}

.minidescipcion .titulo, .info {
    text-align: start;
}

.minidescipcion {
    border: solid 1px;
}

.titulo {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
    text-align: start;
}
/*impulsado*/
/*footer */
footer {
    padding-bottom: 30px;
}

#probar a:hover {
    color: rgb(0, 208, 255);
    transition: 0.2s;
}

#atencion span {
    text-wrap: wrap;
    width: 10px;
}

.conflecha5 {
    background-color: rgb(4, 164, 212);
    width: 48px;
    height: 28px;
    overflow: hidden;
    margin-left: 10px;
    padding: 5px;
    display: flex;
    border-radius: 5px;
    transition: 0.5s;
}

.conflecha5 span {
    position: relative;
    width: 56px;
    height: 28px;
    padding: 0 1px;
    font-size: 18px;
    margin: 0 10px 0 0;
    transform: translateX(-100%);
    transition: transform 0.5s;
    color: black;
}

.over5 {
    position: relative;
    width: 156px;
    height: 56px;
    padding: 10px;
    background-color: rgb(12, 210, 255);
    border-radius: 10px;
    overflow: hidden;
}

.azul5 {
    position: absolute;
    width: 157px;
    height: 100px;
    background-color: rgb(0, 170, 207);
    margin: -11px;
    border-radius: 10px;
    transform: translateX(200px);
    transition: transform 1s;
}

.over5:hover .azul5 {
    transform: translateX(0);
    transition: transform 0.5s;
}
.over5:hover .conflecha5{
    background-color: rgb(0, 208, 255);
    transition: 1s;
}

.over6{
    
    color: black;
    position: relative;
    width: 380px;
    height: 56px;
    padding: 10px;
    background-color:  rgb(70, 69, 69);
    border-radius: 10px;
    overflow: hidden;
}

.celeste{
    position: absolute;
    width: 380px;
    height: 100px;
    background-color: rgb(0, 208, 255);
    margin: -11px;
    border-radius: 10px;
    transform: translateX(400px);
    transition: transform 0.6s;
}
.conflecha6{
    background-color: rgb(0, 0, 0);
    width: 48px;
    height: 28px;
    overflow: hidden;
    margin-left: 10px;
    padding: 5px;
    display: flex;
    border-radius: 5px;
    transition: 0.5s;
}
.conflecha6 span {
    position: relative;
    width: 56px;
    height: 28px;
    padding: 0 1px;
    font-size: 18px;
    margin: 0 10px 0 0 ;
    transform: translateX(-100%);
    transition: transform 0.5s;
}
.over6:hover .celeste {
    transform: translateX(0);
    transition: transform 0.5s;
}

.over6:hover .conflecha6 {
    background-color: rgb(0, 170, 207);
    transition: 0.2s;
}

.over6:hover .conflecha6 span {
    transform: translateX(0);
    margin: 0 3px;
    margin: 0 30px 0 10px;
    transition: 0.2s;
}

.secciones  a:hover{
    color: rgb(0, 208, 255);
    transition: 0.2s;

}
#redesterminos a:hover{
    color: rgb(0, 208, 255);
    transition: 0.2s;
}